 .u-section-1 {
  background-image: url("/images/Cover.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 410px;
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 311px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 228px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 14% 54.73%;
    background-size: auto 110%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 302px;
  }
}